<% provide(:title, "Messages") %>

<p>&nbsp;</p>

<h3>Welcome <%= humanize_phone_number(current_user.phone_number) %></h3>
<br>
<h5>You have <%=@messages.count %> new messages.</h5>
<p>&nbsp;</p>
<h4>New Messages:</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>From</th>
      <th>Message</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td width="20%"><%= humanize_phone_number(message.from) %></td>
        <td width="60%">
          <%= link_to message.content, message %>
        </td>
        <td width="20%"><%= message.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

