<% provide(:title, "Login") %>

<section class="">
  <div class="tec_banner_sec tec_banner_secNew">
    <h2 class="text-center">Login</h2>
    <p><br></p>
    <section class="body_container " role="main">
      <div class="container">
        <div class="row">
          <div class="center-block col-lg-5 col-md-5 col-sm-5 col-xs-12"
               style="float: none;">
            <%= form_for(:session, url: login_path, html: {class: 'form-outer',
                                                           style: "backgroundd-color: rgba(0,0,0,.4)"}) do |f| %>
              <%= render 'flash_messages' %>
              <div class="form_info">
                <span class="form_info_icon">
                    <i class="fa fa-user"></i>
                </span>
                <%= f.text_field :email, id: 'user-email', class: 'form-control email',
                                 placeholder: 'Email', onkeyup: 'removeErrMsg(this.name)' %>
                <span id="user-email-err1"></span>
              </div>
              <div class="form_info">
                <span class="form_info_icon">
                    <i class="fa fa-key"></i>
                </span>
                <%= f.password_field :password, id: 'user-password',
                                     placeholder: 'Password', class: 'form-control password', onkeyup: 'removeErrMsg(this.name)' %>
                <span id="user-password-err1"></span>
              </div>

              <div class="request-outer">
                <%= f.submit 'Log in', class: 'btn btn-success btn-block' %>
                <BR>
                <% if !logged_in2? %>
                  <%= link_to "Sign up now!", signup_path, class: "btn btn-sm btn-primary" %>
                  <div class="pull-right">
                    <%=link_to "Forgot password?", new_password_reset_path %>
                  </div>
                <% end %>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </section>
  </div>
</section>