<% provide(:title, "Login") %>

<section class="mbr-fullscreen">
  <div class="  container" style="margin-top: -300px;">
    <h2 class="text-center">Login</h2>
    <p><br></p>
    <div class="row">
      <div class="
        col-lg-6 offset-lg-3
        col-md-4 offset-md-4
        col-sm-6 offset-sm-3
        col-xs-12"
           style="float: none;">
        <%= form_for(:session, url: login_path, html: {class: 'mbr-form form-outer',
                                                       style: "backgroundd-color: rgba(0,0,0,.4)"}) do |f| %>
          <%= render 'flash_messages' %>
          <div class="form_info form-group">
                <span class="form_info_icon">
                    <i class="fa fa-user"></i>
                </span>
            <%= f.text_field :email, id: 'user-email', class: 'form-control email',
                             placeholder: 'Email', onkeyup: 'removeErrMsg(this.name)' %>
            <span id="user-email-err1"></span>
          </div>
          <div class="form_info form-group">
                <span class="form_info_icon">
                    <i class="fa fa-key"></i>
                </span>
            <%= f.password_field :password, id: 'user-password',
                                 placeholder: 'Password', class: 'form-control password', onkeyup: 'removeErrMsg(this.name)' %>
            <span id="user-password-err1"></span>
          </div>

          <div class="">
            <%= f.submit 'Log in', class: 'btn btn-primary btn-sm btn-block' %>
            <br>
            <% if !logged_in2? %>
              <%= link_to "Sign up now!", signup_path, class: "btn btn-sm btn-primary float-left" %>
              <div class="float-right">
                <%=link_to "Forgot password?", new_password_reset_path, class: 'btn btn-sm btn-white rounded' %>
              </div>
            <% end %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</section>