<p>
  Hi, here is my contact request detail.
</p>

<h3>Name:</h3>
<p><%=params[:name] %></p>

<h3>Email:</h3>
<p><%=params[:email] %></p>

<h3>Phone:</h3>
<p><%=params[:phone] %></p>

<h3>Budget:</h3>
<p><%=params[:budget] %></p>

<h3>Requirements:</h3>
<p><%=params[:req] %></p>
