<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @track.ip %>
</p>

<p>
  <strong>Headers:</strong>
  <%= @track.headers %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
